
<main class="main-content p-4">
    <div class="container">
        <% if @user %>
            <h1>Welcome, <%= @user.username %> to the Library Dashboard </h1>
        <%else%>
            <h1>Welcome to the Library Dashboard User</h1>
        <%end%>
        <p>Use the menu on the left to manage your library.</p>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">View All Books</h5>
                        <p class="card-text">Browse the entire collection of books.</p>
                        <%= link_to "View Books", viewall_books_path, class: "btn btn-primary nav-viewall" %>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Add a Book</h5>
                        <p class="card-text">Add new books to the library collection.</p>
                        <%= link_to "Add Book", add_book_path, class: "btn btn-primary nav-addbook" %>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title   ">Remove a Book</h5>
                        <p class="card-text">Remove books from the library collection.</p>
                        <%= link_to "Remove Book", remove_book_path, class: "btn btn-primary nav-removebook" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4"> 
                    <div class="card-body">
                        <h5 class="card-title   ">Loan a Book</h5>
                        <p class="card-text">Loan books to library members.</p>
                        <%= link_to "Loan Book", loan_book_path, class: "btn btn-primary nav-removebook"%>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4"> 
                    <div class="card-body">
                        <h5 class="card-title   ">List Borrowed Books</h5>
                        <p class="card-text">View details of all currently borrowed books.</p>
                        <a href="#" class="btn btn-primary nav-listBorrow">List Borrowed Books</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 text-center">
        <%= link_to "logout", logout_path, method: :delete, class: "btn btn-danger" %>
    </div>
</main>