
<div class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <h1>Change password</h1>
    <%= form_with model: Current.user, url: changepassword_path, method: "patch", data: { turbo: false } do |form| %>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <ul>
                <% form.object.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
        <div class="form-row mt-4">
            <div class="form-group mt-4">
              <%= form.label :password, "Password" %>
              <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
            <div class="form-group mt-4">
              <%= form.label :password_confirmation, "Confirm Password" %>
              <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
            </div>
        </div> 
        <div class="form-row d-flex justify-content-center mt-4">
            <%= form.submit "Change password", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>